Package: com.rishabswift.snapspoofer
Name: SnapSpoofer
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Spoof your screenshot and view count for Snapchat. 
Maintainer: Rishab Swift
Author: Rishab Swift
Section: Tweaks
Icon: file:///Library/PreferenceBundles/snapspooferprefs.bundle/icon@full.png