Package: com.rishabswift.bettermusicapp
Name: BetterMusicApp
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Rishab Swift
Author: Rishab Swift
Section: Tweaks
Version: 0.0.1-5+debug
Installed-Size: 120
